.cell {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cell {
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}
.lastCell {
  border-bottom: none;
}

.tableRow {
  border-bottom: 1px solid #eee;
}
.tableGridColumn {
  margin-right: 0;
}
.tableColumn {
  padding: 0;
  margin-right: 0;
}
.CellGrid {
  margin-right: 0;
}